* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--color-background);
}


/* Designfarver variabler */
:root {
    --side-padding: 38px;
    --color-background:#f7f4ed;
    --border-color:#ddd8cf;
    --buttons-color:#5f5d54;
    --text-color:#5d5a53;
    --speaker-background:rgb(240, 236, 231);
    --color-card-background:#dad8ce;
    --color-card-hover:#b3b1a9;
    --stars-background:#3f8b5a;
    --border-color:#8f8a80;
    /* speaker colors */
    --moonlight-white:#f4f1ec;
    --saga-green:#a9b79f;
    --dusty:#f09ca5;
    --lavender:#c5bddb;


}


.header {
   height: 120px;
  padding: 0 38px;
  background-color: var(--color-background);
  border-bottom: 1px solid #777;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  box-sizing: border-box;
}

.logo,
.nav,
.icons,
.buttons {
  display: flex;
  align-items: center;
}

.logo {
  gap: 12px;
  padding-right: 45px;
  border-right: 1px solid var(--border-color);
}

.logo-main {
  font: italic 28px Georgia, serif;
  letter-spacing: -1px;
}

.logo-text {
  font-size: 5px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
  
}

.nav a {
  color: #111;
  text-decoration: none;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icons img {
  width: 24px;
  height: 24px;
  display: block;
  gap: 8px;
}

.icons button {
  background: none;
  border: 0;
  cursor: pointer;
}

/* herosection */
.hero {
  min-height: calc(140vh - 80px);
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/lumina-image-2.png") center /cover no-repeat;
  display: flex;
  align-items: center;
}

.content {
  max-width: 430px;
  padding-left: 36px;
  position: relative;
  z-index: 2;
}

h1 {
  margin-bottom: 14px;
  font-size: 60px;
  line-height: 0.95;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.tagline {
  margin-bottom: 28px;
  color: #2b2b2b;
  font-size: clamp(1.15rem, 2vw, 1.8rem);
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.description {
  max-width: 350px;
  margin-bottom: 42px;
  color: var(--text-color);
  font-size: 0.95rem;
  line-height: 1.55;
}

.buttons {
  gap: 22px;
  flex-wrap: wrap;
}

.btn {
  min-width: 158px;
  padding: 15px 32px;
  border: 1.5px solid #4c4639;
  border-radius: 999px;
  background: transparent;
  color: var(--buttons-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.btn.primary {
  background: var(--buttons-color);
  color: var(--color-background);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 24px rgba(45, 40, 30, 0.15);
}

/* Product section */
.product-section {
  width: 100%;
  min-height: calc(100vh - 120px);
  background-color: var(--farve-baggrund);
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 70px;
  padding: 34px; 
}

.product-image-box {
  width: 590px;
  height: 550px;
  padding: 70px 38px;
}
.product-image-box img {
  width: 90%;
  height: auto;
  object-fit: contain;
  margin-top: -30px;
  margin-left: 30px;
}

.product-info {
  width: 330px;
  margin-left: 150px;
}

.product-info h2 {
  font-size: 15px;
  letter-spacing: 4px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: 700;
}

.info-line {
  border-bottom: 1px solid #bfb8a4;
  padding: 15px 0;
}

.info-line p {
  font-size: 23px;
  color: #111;
  margin: 0;
}

.info-line strong {
  font-weight: 800;
}

/* farveknapper */
.color-options {
  display: flex;
  gap: 22px;
  margin-top: 35px;
  align-items: flex-start;
}

.color-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-choice p {
  font-size: 8px;
  font-weight: 700;
  margin-top: 8px;
  text-align: center;
  width: 62px;
  color: #111;
}

.color-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

/* farver */
.moonlight {
  background-color: var(--moonlight-white);
}

.saga {
  background-color: var(--saga-green);
}

.dusty {
  background-color: var(--dusty);
}

.lavender {
  background-color: var(--lavender);
}

/* valgt farve */
.color-btn.active {
  border: 2px solid #111;
  transform: scale(1.05);
}

/* køb nu knap */
.buy-btn {
  margin-top: 20px;
  width: 240px;
  height: 55px;
  border: none;
  border-radius: 40px;
  background-color: var(--buttons-color);
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
}

.buy-btn:hover {
  background-color: var(--buttons-color);
  transform: scale(1.03);
}
/* Features */
.speaker-features {
  background-color: var(--color-background);
  padding: 200px 45px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
  font-family: Arial, sans-serif;
}

.text {
  width: 430px;
}

.name {
  font-size: 16px;
  margin-bottom: 8px;
}

.text h4 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 55px;
}

.item {
  border-top: 1px solid var(--border-color);
}

.item:last-child {
  border-bottom: 1px solid var(--border-color);
}

.item button {
  width: 100%;
  padding: 17px 0;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  font-size: 20px;
  color: #000000;
}

.item p {
  max-height: 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.6;
  color: #000000;
  transition: 0.3s ease;
}

.item.open p {
  max-height: 120px;
  padding-bottom: 18px;
}

.image img {
  margin-left: 170px;
  margin-bottom: 70px;
  width: 480px;
}


/* Memories - my social proof */
.memories-section {
  background-color: var(--color-card-background);
  padding: 90px 60px;
  overflow: hidden;
  
}

.memories-content {
  width: calc(100% - 80px);
  margin-left: -10px;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  gap: 90px;
}
.text-area {
  width: 330px;
  flex-shrink: 0;
  
}

.text-area h2 {
  font-size: 60px;
  line-height: 1.08;
  letter-spacing: 2px;
  font-weight: 800;
  color: #111;
  margin-bottom: 25px;
}

.text-area p {
  font-size: 28px;
  line-height: 1.05;
  letter-spacing: 3px;
  color: #222;
  margin-bottom: 38px;
}

#exploreBtn {
  background-color: var(--buttons-color);
  color: white;
  border: none;
  border-radius: 30px;
  width: 200px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
  cursor: pointer;
}

.pictures {
  display: flex;
  gap: 24px;
  margin-top: 120px;
  flex: 1;
  min-width: 0;
}

.pictures img {
  width: 295px;
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

/* speaker section */
.color-section {
  background-color: var(--color-background);
  padding: 120px 80px 140px;
  text-align: center;
  border-top: 1px solid #222;
}

.color-section h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 35px;
  color: #111;
}

.color-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: nowrap;
  max-width: 100%;
  margin: 0 auto;
}

.color-card {
  width: 295px;
  height: 360px;
  border: 2px solid var(--buttons-color);
  border-radius: 20px;
  background-color: var(--color-card-background);
  padding: 22px 18px 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
   cursor: pointer;

}

.color-card figure {
  margin: 0;
  width: 100%;
}

.image-wrapper {
  width: 145px;
  height: 145px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.color-card img {
  width: 180px;
  height: 180px;
  margin-top: 70px;
  object-fit: contain;
  display: block;
  transition: 0.3s ease;
}


.color-card figcaption {
  font-size: 16px;
  color: #111;
  margin-top: 90px;
}

.color-dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
}

.saga-green {
  background-color: var(--saga-green);
}

.dusty-pink {
  background-color: var(--dusty);
}

.moonlight-white {
  background-color: var(--moonlight-white);
}

.lavender-mist {
  background-color: lavender;
}

.color-card:hover {
  transform: translateY(-8px);
  border-color: #000000;
  background-color: var(--color-card-hover);
}

/* Reviews section */

.reviews-section {
  background-color: var(--color-card-background);
  padding: 90px 80px 120px;
  text-align: center;
  border-top: 1px solid #222;

}

.reviews-section h2 {
  font-size: 52px;
  letter-spacing: 4px;
  font-weight: 900;
  color: #111;
  margin-bottom: 8px;
}

.reviews-section h3 {
  font-size: 60px;
  font-weight: 900;
  color: #111;
  margin-bottom: 8px;
}
.reviews-subtitle {
  font-size: 17px;
  color: #4d4a42;
  margin-bottom: 22px;
}

.review-cards {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-bottom: 24px;
}

.review-card {
  width: 215px;
  height: 225px;
  background-color: white;
  border-radius: 8px;
  padding: 20px 20px 18px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.stars,
.small-stars {
  display: inline-block;
  background-color: var(--stars-background);
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 0 4px;
  line-height: 1.1;
  margin-bottom: 16px;
}

.review-card h3 {
  font-size: 14px;
  font-weight: 800;
  color: #111;
  margin-bottom: 26px;
}

.review-card p {
  font-size: 15px;
  line-height: 1.1;
  color: #111;
  margin-bottom: 14px;
}

.review-card span {
  display: block;
  width: 45px;
  height: 1px;
  background-color: #d8d8d8;
  margin-bottom: 6px;
}

.review-card h4 {
  font-size: 16px;
  font-weight: 400;
  color: #111;
}

.trustpilot-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 12px;
}

.small-stars {
  font-size: 18px;
  margin-bottom: 0;
}

.trustpilot-score p {
  font-size: 20px;
  color: #111;
}

#reviewBtn {
  width: 565px;
  max-width: 90%;
  background-color: #56513f;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 18px 28px;
  font-size: 19px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

#reviewBtn:hover {
  background-color: var(--buttons-color);
  transform: translateY(-3px);
  box-shadow: 0 12px 24px rgba(45, 40, 30, 0.25);
}

#reviewBtn:hover {
  background-color:var(--buttons-color);
  transform: translateY(-3px);
  box-shadow: 0 12px 24px rgba(45, 40, 30, 0.25);
}


 
 /* Footer */

.footer {
  width: 100%;
  background-color: var(--color-background);
  padding: 100px 100px 40px;
  color: #111;
  margin-bottom: 140px;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  padding-left: 75px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 18px;
  font-weight: 700;
}

.footer-column p {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.3;
}

.copyright {
  text-align: center;
  margin-top: 45px;
  font-size: 13px;
  letter-spacing: 6px;
}
